@import "tailwindcss";

:root {
	--primary: #05893e;
	--secondary: #047f39;

	--white-primary: #fafcfa;
	--white-secondary: #fafbfa;
}

@theme inline {
	--font-inter: var(--font-inter);
	--font-bengali: var(--font-noto-serif-bengali);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-white-primary: var(--white-primary);
	--color-white-secondary: var(--white-secondary);
}

@layer base {
	body {
		@apply bg-green-50;
	}
}

body {
	color: var(--foreground);
	font-family: var(--font-bengali);
}

@layer components {
	.wrapper {
		@apply w-full max-w-7xl mx-auto px-3;
	}
}
